{{#contentFor "pageScripts"}}
<!-- Google Analytics Content Experiment code -->
<script>function utmx_section(){}function utmx(){}(function(){var
k='117473765-0',d=document,l=d.location,c=d.cookie;
if(l.search.indexOf('utm_expid='+k)>0)return;
function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.
length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
'<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
'://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
'&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
'" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})();
</script><script>utmx('url','A/B');</script>
<!-- End of Google Analytics Content Experiment code -->
{{/contentFor}}

<div class="header">
  <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
    <a class="pure-menu-heading" href="/">Free money</a>
  </div>
</div>

<div class="splash-container one">
  <div class="splash">
    <h1 class="splash-head">Get free money</h1>
    <p class="splash-subhead">
      Just enter your bank account number and we'll send you the money
    </p>
    <div class="u-1 form-box">
      <div class="l-box">
        <form class="pure-form" action="/" method="post">
          <input id="account" type="text" placeholder="Bank account number" autocomplete="off">
          <button type="submit" class="pure-button">Give me money!</button>
        </form>
      </div>
    </div>
  </div>
</div>
