<div class="splash-container two">
  <div class="splash">
    <h1 class="splash-head">Get free money</h1>
  </div>
</div>
<div class="content-wrapper">
  <div class="content">
    <h2 class="content-head is-center">Just enter your bank account number and we'll send you the money</h2>
    <div class="u-1 form-box">
      <div class="l-box">
        <form class="pure-form" action="/variant" method="post">
          <input id="account" type="text" placeholder="Bank account number" autocomplete="off">
          <button type="submit" class="pure-button" id="submitButton">Give me money!</button>
        </form>
      </div>
    </div>
  </div>
</div>
