<div class="header">
    <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
        <a class="pure-menu-heading" href="/{{variant}}">EasyMoneyGenerator.com</a>
    </div>
</div>

<div class="splash-container {{variant}}">
    <div class="splash">
        <h1 class="splash-head">Get rich!</h1>
        <p class="splash-subhead">
            The only thing you have to do is send us some money first
        </p>
        <p>
            <a href="/{{variant}}" class="pure-button pure-button-primary">Get Started</a>
        </p>
    </div>
</div>
