<!DOCTYPE html>
<html>

<head>
  {{{block "pageScripts"}}}
  <title>{{title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/stylesheets/pure-min.css">
  <link rel="stylesheet" href="/stylesheets/marketing.css" />
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
  <div class="header">
    <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
      <a class="pure-menu-heading" href="/">Free money</a>
    </div>
  </div>
  {{{body}}}
</body>

</html>
