<div class="header">
  <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
    <a class="pure-menu-heading" href="/one">Free money</a>
  </div>
</div>

<div class="splash-container one">
  <div class="splash">
    <h1 class="splash-head">Get free money</h1>
    <p class="splash-subhead">
      Just enter your bank account number and we'll send you the money
    </p>
    <div class="u-1 form-box">
      <div class="l-box">
        <form class="pure-form" action="/one" method="post">
          <input id="account" type="text" placeholder="Bank account number" autocomplete="off">
          <button type="submit" class="pure-button">Give me money!</button>
        </form>
      </div>
    </div>
  </div>
</div>
