<div class="header">
  <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
    <a class="pure-menu-heading" href="/">Free Money</a>
  </div>
</div>

<div class="splash-container {{variant}}">
  <div class="splash">
    <h1 class="splash-head">Thank you for your bank account number</h1>
    <p class="splash-subhead">
      We will totally not rob you now
    </p>
  </div>
</div>
